<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Video Chat App</title>
</head>
<body>
  <h1>Video Sohbet Uygulamasına Hoş Geldiniz</h1>
  <a href="/room">Oda Oluştur</a>
</body>
</html>
